.noAutoPos {
    margin: 0;
    padding: 0;
}

.bodyStyle {
    background-color: rgb(90, 90, 90);
    color: white;
    text-align: center;
}

.marginTop {
    margin-top: 2vh;
}

#title {
    font-size: 48px;
}

#description {
    font-size: 32px;
}

#survey-form {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 10px;
    margin: 5vh 20vw;
    text-align: center;
    padding: 3vmin;
}

#name {
    background-color: black;
    color: white;
}

#name-label {

}

#email {
    background-color: black;
    color: white;
}

#email-label {

}

#number {
    background-color: black;
    color: white;
}

#number-label {
    
}

#dropdown {
    background-color: black;
    color: white;
}

#dropdown-label {

}

#textareabox {
    background-color: black;
    color: white;
}

#submit {
    background-color: black;
    color: white;
}