.noAutoPos {
    margin: 0;
    padding: 0;
}

#title {
    font-size: 48px;
}

#description {
    font-size: 32px;
}

#survey-form {
    background-color: aqua;
}

#name {

}

#name-label {

}

#email {
    
}

#email-label {

}

#number {

}

#number-label {
    
}

#dropdown {

}

#dropdown-label {

}

#textareabox {

}

#submit {

}